<!DOCTYPE html>
<html>
<head>
  <title>Furia</title>
  <%= stylesheet_link_tag    "furia/application", media: "all" %>
  <%= javascript_include_tag "furia/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
